body {
  margin: 0;
  background: #202020;
  color: #FFFFFF;
  background-image: url('../images/noise.png');
  background-repeat: repeat;
  font-family: ourFont;
  font-size: 20px;
}

h1 {
  text-shadow: 0 2px 1px rgba(#fff, 0.3);
  text-align: center;
  letter-spacing: -0.05rem;
  color: #EEEEEE;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0.5rem 0 2rem 0;
  color: rgba(255, 255, 255, 0.6);
}

.grid-table {
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  align-items: top;
}

tr td {
  border: 1pt solid #990;
  font-size: 16px;
}