#left-menu {
  position: absolute;
  width: 25%;
  background-color: black;
  text-align: center;
  top: 2.5rem;
  left: 0;
  color: white;
}

.left-menu-header {
  font-size: 2.6vh;
  font-weight: bold;
}

.left-menu-text {
  font-size: 1.9vh;
  padding: 2vh;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding-bottom: 1vh;
}

.left-menu-link {
  font-size: 1.7vh;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: white !important;
}

.section_marker {
  border-bottom: 0.2vh solid rgba(255, 255, 255, 0.25);
  margin-top: 0.8vh;
  margin-bottom: 0vh;
}

/*Some changes only when the left-menu is used*/

#radio_container {
  top: 2rem;
  left: 0rem;
}

#distribution-chart {
  left: 2rem;
}

/*
#globe-plot {
    right: 0;
	width: 80%;
}
#globe-plot_borders {
    right: 0;
	width: 80%;
}
#heatmap{
    left: initial;
	width: 80%;
}

#countryLabel {
    right: 0;
    width: 80%
}

#resetText {
    position: absolute;
    right: 0;
    width: 80%;
    margin: 0;
}*/